header{
    display: flex;
    align-items: center;
    height: 72px;
    background-color: white;
    padding-inline: 30px;
}

#header-links{
    display: flex;
    gap: 40px;

    list-style: none;
    cursor: pointer;
    height: 100%;
}

.header-link{
    display: flex;
    align-items: center;
    color: rgb(71, 71, 71);
    font-weight: bold;
    transition: all .3s ease-in-out;
    font-size: 1.05rem;
    height: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.header-link:hover{
    color: black;
}

.header-link::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.125rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header-link:hover::after{
    transform: scale(1, 1);
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: darken;
    background-image: url("https://github.com/lanehowell/Jackson-Jaguar-Theatre-Company/blob/main/assets/images/section-2/group-photo.jpg?raw=true");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    min-height: 450px;
}

#hero-section-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 860px;
    text-align: center;
    padding-inline: 30px;
}

#hero-title{
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 10px black;
}

#hero-description{
    color: white;
    line-height: 150%;
    font-size: 1.2rem;
}

#learn-more-button{
    background-color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.15rem;
    margin-top: 2rem;
    cursor: pointer;
}

#about-section{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-block: 80px;
}

#about-section > *{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px;
}

#about-description{
    line-height: 150%;
}

#performance-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(252, 252, 252);
    padding-block: 80px;
}

#performance-title{
    font-size: 3rem;
}

#performance-description{
    margin-bottom: 60px;
}

#performance-img-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
}

#performance-img-wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background-image: url("../assets/images/section-3/Jackson Jaguar Theatre Company 24-25-zone contest-66408833419.jpg");
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

#performance-img-wrapper > div:hover{
    transform: scale(1.01);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .25), -5px -5px 10px rgba(255, 255, 255, .6);
}

.year-text{
    font-weight: bold;
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 10px black;
}

@media screen and (max-width: 530px) {
    #header-links{
        gap: 0;
        justify-content: space-evenly;
        width: 100%;
    }

    header{
        padding-inline: 0;
    }
}
